<%- include("../partials/header") %>
<div id="bug">
	<h2><%= bug.subject %></h2>
	<p><%= bug.body %></p>
</div>
<h3>This report is currently <%= bug.open ? "open" : "closed" %>.</h3>

<form action="/notes/:<%= bug.id %>" method="POST">
	<textarea name="content" placeholder="Add a note"></textarea>
	<input type="hidden" name="bugId" value="<%= bug._id %>" />
	<br />
	<button type="submit">Add</button>
</form>
<br />

<% bug.notes.forEach(note => { %>
<hr />
<section class="note">
	<br />
	<p><%= note.toObject().content %></p>
	<p>
		<small
			><%= note.postDate.toLocaleDateString()%> - <%=
			note.postDate.toLocaleTimeString() %></small
		>
	</p>
	<form method="POST" action="/notes/<%= note._id %>?_method=DELETE">
		<input type="hidden" name="bugId" value="<%= bug._id %>" />
		<button type="submit">Delete Note</button>
	</form>
	<form method="POST" action="/notes/<%= note.id %>?_method=GET">
		<input type="hidden" name="bugId" value="<%= bug._id %>" />
		<button type="submit">Edit Note</button>
	</form>
</section>
<% }) %>
<hr />

<%- include("../partials/footer") %>
